<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Hello <span th:text="${username}">User</span>!</h1>
    <p >Congratulations!!!!<p>
    <p>You won the auction made by <span th:text="${auctioneerEmail}"></span> . you were the highest bidder with an amount of GHS <span th:text="${bidAmount}"></span>.
    Arrange with the auctioneer, <span th:text="${auctioneerUsername}"></span> , to receive the item <span th:text="${itemName}"></span> .</p>
    <p>Your ttBay team</p>
</div>
</body>
</html>